{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="content">
        <div class="header1" style="font-weight: bold; font-size: xx-large; text-align: center" ;>Noi suntem Champions
            School!
        </div>
        <p class="header2" style="font-weight: bold; font-size: larger; text-align: center" ;> Cea mai tare platformă de
            organizat concursuri și activități
            extrașcolare din România!</p>
        <p></p>
        <p class="header2" style="font-weight: bold; font-size: larger; text-align: center">Hai cu noi să vezi de ce
            ești în stare! </p>
    </div>


    <!-- banner-feature -->


    {#    <section class="bg-gray overflow-md-hidden">#}
    <div class="container-xl p-2 mt-1" style="background: #f5f5f5; min-height: 200px;">
    <div class="row">
    <div class="col-xl-4 col-md-12">
        <img class="col-12" src="{% static "images/happy-college.png" %}" alt="hi">
    </div>

    <div class="col-xl-8 col-md-12">

        <div class="row">
            <div class="col-xl-6 col-md-12">
                <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                <br>
                <br>
                <h3 class="mb-xl-4 mb-lg-3 mb-4 feature-icon" style="font-weight: bold">Unități școlare</h3>
                <div style="text-align: justify">Prin înregistrarea pe platformă fiecare școală poate
                    adauga competiții și evenimente la care să poată participa elevi din școala proprie
                    sau din orice altă școală din țară.
                    <p>Împreună putem modela generații responsabile și implicate, active și pasionate, ce
                        pot genera rezultate la școală și după școală. Împreună putem creea un viitor
                        durabil. </p>

                </div>
            </div>

            <div class="col-xl-6 col-md-12">
                <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                <br>
                <br>
                <h3 class="mb-xl-4 mb-lg-3 mb-4">Elevi</h3>
                <div style="text-align: justify">Vino alături de noi să descoperi competiții sportive
                    organizate
                    la nivel local, sau național. Poți participa la diverse evenimente sociale, prin donații
                    sau voluntariat.
                    <p>Susținem proiectele sociale pentru o societate responsabilă, sportul pentru o viață
                        sănătoasă, iar prin competiții ducem pasiunea la un alt nivel.</p>

                </div>
            </div>

            <div class="col-xl-6 col-md-12">
                <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                <br>
                <br>
                <h3 class="mb-xl-4 mb-lg-3 mb-4">Evenimente sportive</h3>
                <div style="text-align: justify">Descoperă cele mai noi si importante competiții sportive
                    organizate la nivel local sau național.
                    <p>Sportul inseamna disciplina, motivatie, spirit de echipa, fair-play, tarie, competitie, succes.
                    Pentru victorie, pentru sanatate sau pentru echipa, sportul nu are limite.</p>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                <br>
                <br>
                <h3 class="mb-xl-4 mb-lg-3 mb-4">Acțiuni sociale</h3>
                <div style="text-align: justify">Susținem educația prin acțiuni de responsabilitate socială
                    și implicare.
                    <p>Prin acțiunile propuse, ne dorim implicarea copiilor în diverse evenimente
                        care să îi responsabilizeze și să îi facă să descopere bucuria de a dărui.</p>
                </div>
            </div>
        </div>
    </div>
    {#    </section>#}


    <!-- /banner-feature -->
    <!-- about us -->
    <br>
    <br>

    <div class="row">

        <div class="col-xl-6 col-md-12">
            <h2 class="section-title">Despre noi</h2>
            <div style="text-align: justify"> O societate educată poate face diferenţa între bine şi rău, între influenţele
                negative şi cele pozitive. A educa înseamnă a instrui, a forma, a dezvolta.
                <p> Suntem o platformă dedicată  tuturor unităților școlare și elevilor lor, activitatilor
                    nonformale de dezvoltare a talentelor și abilităților elevilor.
                    Aici oferim scolilor posibilitatea de a inregistra evenimentele organizate, dand astfel sansa tuturor
                    elevilor din cadrul scolii organizatoare, si nu numai, sa participe si sa se implice activ.</p>
                <p> Champions School sustine educatia si performanta dincolo de pragul scolii.</p>
            </div>
        </div>

        <div class="col-xl-6 col-md-12">
            <img class="col-12" style="margin-top: 40px"; height="220px" src="{% static "images/sectii-sportive.jpg" %}" alt="Hi!"/>
        </div>
    </div>


    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4" style="background-color: rgb(135,206,250)">


        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold"></h5>
                    <p style="font-weight: bold; text-align: justify"> "Schimbarea nu va veni daca asteptam o alta persoana sau
                        un alt timp. Noi suntem cei pe care i-am asteptat. Noi suntem schimbarea pe care o cautam”. </p>
                    <p class="author2" style="text-align: right">Barack Obama</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold"></h5>
                    <p class="quote" style="font-weight: bold; text-align: justify"> Educatia este cea mai puternica arma pe care
                voi o puteti folosi pentru a schimba lumea". </p>
                    <p class="author3" style="text-align: right">Nelson Mandela</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: black">© 2022 Copyright: Champions School

        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

{% endblock %}
