{% extends 'base.html' %}
{% block title %} Resetare parolă {% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Resetare parolă</button>
    </form>
{% endblock %}