{% extends 'base.html' %}
{% block title %} Schimbare parolă {% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"> Schimbare parolă </button>
    </form>
{% endblock %}