{% extends 'base.html' %}
{% load static %}
{% block title %} Creare eveniment nou {% endblock %}

{% block content %}
    {#<link rel="stylesheet" type="text/css" media="screen" href='{% static "styles/main.css" %}'>#}
    <div class="background-image"
         style="background: url({% static 'images/background1.jpg' %} ) no-repeat; background-size: 150%;">
        <h3 style="text-align: center"> Adaugare eveniment</h3>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
        </div>
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="d-grid gap-2 col-2 mx-auto">Adaugare</button>
            </form>
            <br>
        {% else %}
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="card-body">
                    <div class="text">Pentru adaugare, trebuie să vă autentificați >>>>
                        <a href="{% url 'create-user' %}" class="card-link">New account</a>
                        <a href="{% url 'login' %}" class="card-link">Login</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}