{% extends 'base.html' %}
{% load static %}
{% block title %} Înregistrare elev/ student {% endblock %}

{% block content %}

    <div class="background-image"
         style="background: url({% static 'images/background_student1.jpg' %} )
                 no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 -o-background-size: cover;
                 background-size: cover;">
        <br>
        <h3 style="text-align: center"> Inregistrare elev</h3>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if user.is_authenticated %}
                        <button type="submit" class="btn btn-primary">Înregistrare</button>
                    {% else %}
                        <a href="{% url 'create-user' %}" class='btn btn-primary'>New account</a>
                        <a href="{% url 'login' %}" class='btn btn-success'>Login</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}