{% extends 'base.html' %}
{% load static %}
{% block title %}  {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">

    <div class="container-recommendation" style="background-color: #F0FFFF">
        <br>
        <h3 style="text-align: center"> Adauga o recomandare</h3>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if user.is_authenticated %}
                        <button type="submit" class="d-grid gap-2 col-2 mx-auto">Adaugare</button>

                    {% else %}
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <div class="card-body">
                                <div class="text">Pentru adaugare, trebuie să vă autentificați >>>>
                                    <a href="{% url 'create-user' %}" class="card-link">Sign up</a>
                                    <a href="{% url 'login' %}" class="card-link">Login</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}