{% extends 'base.html' %}
{% load static %}
{% block title %} Creare unitate de învățământ {% endblock %}

{% block content %}

    <div class="background-image"
         style="background: url({% static 'images/background_school3.jpg' %})
                 no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 -o-background-size: cover;
                 background-size: cover">
        <br>
        <h3 style="text-align: center"> Inregistrare unitate scolara</h3>
        <div class="container-xl p-2 mt-1">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-primary">Înregistrare</button>
                        {% else %}
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <div class="card-body">
                                    <a href="{% url 'create-user' %}" class="card-link">New account</a>
                                    <a href="{% url 'login' %}" class="card-link">Login</a>
                                </div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}