{% extends 'base.html' %}
{% block title %} Ștergere elev/ student {% endblock %}
{% block content %}
    <p> Sigur doriți să ștergeți elevul/ studentul {{ student.first_name }} {{ student.last_name }}?</p>
    <form method="post">
    {% csrf_token %}
    <button type="submit" class="'btn btn-primary">Da</button>
        <a href="{% url 'homepage' %}" class="btn btn-default">Nu</a>

    </form>
{% endblock %}