{% extends 'base.html' %}
{% block title %} Ștergere eveniment {% endblock %}
{% block content %}
    <p> Sigur doriți să ștergeți evenimentul {{ action.name }} organizat de {{ action.organizer }} ?</p>
    <form method="post">
    {% csrf_token %}
    <button type="submit" class="'btn btn-primary">Da</button>
        <a href="{% url 'list-actions' %}" class="btn btn-default">Nu</a>
    </form>
{% endblock %}