{% extends 'base.html' %}
{% block title %} Ștergere unitate de învățământ {% endblock %}
{% block content %}
    <p> Sigur doriți să ștergeți unitatea de învățământ {{ school.name }}? </p>
    <form method="post">
    {% csrf_token %}
    <button type="submit" class="'btn btn-primary">Da</button>
        <a href="{% url 'list-schools' %}" class="btn btn-default">Nu</a>
    </form>
{% endblock %}