{% extends 'base.html' %}
{% load static %}
{% block title %} Detalii competitie {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" media="screen" href='{% static "styles/main.css" %}'>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4" style="text-align: center; font-variant: all-small-caps;">{{ sport.name }}</h1>
        <p style="color: black; font-size: large;">Organizator: {{ sport.organizer }}</p>

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-6">
                <img class="col-10" style="margin: 40px" src="{{ sport.image.url }}" alt="Sorry!">
            </div>

            <div class="col-6">
                <h5 class="my-3">Prezentare </h5>
                <p style="text-align: justify">{{ sport.description }}</p>
                <h5 class="my-3">Perioadă de desfășurare </h5>
                <li>{{ sport.started_at }}</li>
                <li>{{ sport.ended_at }}</li>
                <h5 class="my-3">Taxe </h5>
                <pre>{{ sport.taxes }}</pre>
                <h5 class="my-3">Premii</h5>
                <pre>{{ sport.rewards }}</pre>
                <h5 class="my-3">Contact</h5>
                <pre>{{ sport.email}} {{ sport.phone_number }}</pre>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-12">
                {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="position-relative">
                            <button type="submit"
                                    class="btn btn-primary position-relative top-50 start-50 translate-middle"
                                    {% if user_subscribed %}disabled{% endif %}>
                                Subscribe
                            </button>
                            {% if user_subscribed %}
                                <p>You are alredy subscibed</p>
                                </div>
                            {% endif %}
                    </form>
                {% else %}
                    <div class="row">

                    <div class="card-body">
                        <div class="text">
                            <a href="{% url 'create-user' %}" class="card-link">Sign up</a>
                            <a href="{% url 'login' %}" class="card-link">Login</a>
                        </div>
                    </div>
                {% endif %}
                </div>
                <div class="position-relative">
                    <a href="{% url 'list-sports' %}" class="btn-light position-absolute bottom-0 end-0">Înapoi la lista
                        de
                        competitii</a>
                </div>
            </div>
        </div>
{% endblock %}