{% extends 'base.html' %}

{% block title %} Detalii {% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" media="screen" href='{% static "styles/main.css" %}'>

    <div class="card text-center">
        <div class="card-header">
            oraș și județ {{ school.city}} {{ school.county }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ action.name }}</h5>
            <p class="card-text">Formă de învățământ: {{ school.type }}</p>
            <p class="card-text">Profil unitate de învățământ: {{ school.profile }}</p>
            <h3 class="card-title">Contact</h3>
            <p class="card-text">Email: {{ school.email }}</p>
            <p class="card-text">Telefon: {{ school.phone }}</p>
            <a href="{% url 'list-of-schools' %}" class="btn btn-danger">Listă unități de învățământ</a>
        </div>
    </div>
{% endblock %}