{% extends 'base.html' %}
{% load static %}
{% block title %} Detalii eveniment {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" media="screen" href='{% static "styles/main.css" %}'>


    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4" style="font-variant-caps: all-small-caps; text-align: center">{{ action.name }}</h1>
        <p style="color: black; font-size: large;">Organizator: {{ action.organizer }}</p>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="{{ action.image.url }}" alt="Sorry!">
            </div>

            <div class="col-md-4">
                <h5 class="my-3">Prezentare: </h5>
                <p style="text-align: justify">{{ action.description }}</p>
                <h5 class="my-3">Perioadă de desfășurare </h5>
                <li>{{ action.started_at }}</li>
                <li>{{ action.ended_at }}</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <h3 class="my-4"></h3>

        <div class="row">

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" {% if user_subscribed %}disabled{% endif %}>
                            Subscribe
                        </button>
                        {% if user_subscribed %}
                            <p>You are alredy subscibed</p>
                        {% endif %}
                    </form>

                    {# <button type="submit" class="btn btn-success">Submit</button>#}

                {% else %}
                    <div class="card w-70">
                        <div class="card-body">
                            <div class="card-text">Pentru înregistrare, trebuie să
                                vă autentificați
                            </div>
                            <a href="{% url 'create-user' %}" class="card-link">Sign up</a>
                            <a href="{% url 'login' %}" class="card-link">Login</a>

                        </div>
                    </div>

                    </div>
                {% endif %}

        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{% url 'list-actions' %}" class="btn btn-danger">Înapoi la lista evenimente</a>
            <br>
            <br>

        </div>

    </div>
    <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}

