{% extends 'base.html' %}

{% block title %} Descopera {% endblock %}

{% block content %}

    <div class="container" style="padding: 7px; margin-top: 2px; margin-bottom: 16px">
        <form method="get">
            {{ my_filter.form }}
            <button type="submit" class="btn btn-success btn-sm">Cautare</button>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'create-recommendation' %}" class="button"
                   style="background-color: #cccccc; font-family: 'Arial Black'">Adauga o recomandare</a>
            </div>
        </form>

        <div class="container-fluid">
            <div class="row">
                {% for recommendation in all_recommendations %}
                    <h4 class="card-title">{{ recommendation.title }} - {{ recommendation.author }}
                        / {{ recommendation.type }}</h4>
                    <p id="text-description"
                       style="text-align: justify; font-family: 'Bitstream Vera Sans'"> {{ recommendation.description }} </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}