{% extends 'base.html' %}
{% load static %}
{% block title %} Listă evenimente{% endblock %}

{% block content %}
    <br>
    <div class="my-2" style="text-align: center">
        <h3>Descopera actiunile si evenimentele viitoare</h3>
        <form method="get">
            {{ my_filter.form }}
            <button type="submit" class="btn btn-success">Cautare</button>
        </form>
    </div>

    <div class="container">
    <div class="row">
            {% for action in all_actions %}
                <div class="card col-xl-3">
                    <img class="col-12" style="height: 300px; object-fit: cover" src="{{ action.image.url }}"
                         alt="Sorry!"/>
                    <div class="p-0 rounded-0 hover-shadow">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                            </ul>
                            <h4 class="card-title"
                                style="height: 75px; font-variant: all-small-caps; text-align: center">{{ action.name }}</h4>
                            <p>{{ action.city }}, {{ action.county }}</p>
                            <a href="{% url 'detail-action' action.id %}" class="text-info; ">Află mai multe</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

