{% extends 'base.html' %}
{% load static %}

{% block title %} Listă competiții sportive {% endblock %}

{% block content %}

    <div class="my-2" style="text-align: center">
        <h3>Descopera viitoarele competitii si evenimente sportive</h3>
        <form method="get">
            {{ my_filter.form }}
            <button type="submit" class="btn btn-success">Cautare</button>
        </form>
    </div>

    <div class="row">
        {% for sport in all_sports %}
            <div class="card col-xl-3" style="">
                <img class="col-12" style="height: 300px; object-fit: cover" src="{{ sport.image.url }}" alt="Sorry!"/>
                <div class="p-0 rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title" style="height: 75px; text-align: center; font-variant-caps: small-caps">{{ sport.name }}</h4>
                        <a href="{% url 'detail-sport' sport.id %}">Află mai multe</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

