{% extends 'base.html' %}
{% block title %} Listă unități de învățământ {% endblock %}

{% block content %}
    <div class="my-2" style="text-align: center">
        <h3 style="text-align: center">Descopera unitatile de invatamant inregistrate pe platforma</h3>
        <form method="get">
            {{ my_filter.form }}
            <button type="submit" class="btn btn-success">Cautare</button>
        </form>
    </div>
  <br>

<div class="container-xl"></div>
        <div class="row">
            {% for school in all_schools %}
                <div class="card col-xl-3">
                    <div class="card-header bg-transparent border-success" style="text-align: center; font-variant: all-small-caps">{{ school.city }}</div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center; font-variant: all-small-caps">{{ school.name }}</h5>
                    </div>
                    <div class="card-footer bg-transparent border-success" style="text-align: center">{{ school.type }}</div>
                </div>
            {% endfor %}
    </div>
{% endblock %}