{% extends 'base.html' %}
{% block title %} Creare utilizator {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Înregistrare</button>
    </form>
{% endblock %}