{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}
{% block content %}



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <head>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    </head>

    <br>

    <div class="container">
        <div style="text-align:center">
            <h1 style="font-weight: bold ">Contact</h1>
            <p style="font-weight: bolder">Pentru orice nelămurire, nu ezitați să ne contactați!</p>
        </div>
        <div class="row">
            <div class="column">
                <br>
                <br>
                <br>
                <img src="{% static 'images/contact.jpg' %}" style="width:100%">
            </div>
            <div class="column">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}

