<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    {% block style %}

    {% endblock %}

</head>

<body>

<nav class="navbar navbar-expand-lg"
     style="background: rgb(135,206,250); font-size: medium; font-weight: bold; color: #171779">

    <div class="container-fluid">
        <a class="navbar-brand" style="opacity: 1" href="#">
            <img src="{% static "images/logo6.png" %}" alt="Hello!"/>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Unități de învățământ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'create-school' %}">Înregistrare unitate de
                            învățământ</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-schools' %}">Unități de învățământ</a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Elevi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'create-student' %}">Creare cont</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-recommendations' %}">Recomandari</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Evenimente
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'create-action' %}">Adaugare evenimente</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-actions' %}">Evenimente</a>
                        <li><a class="dropdown-item" href="{% url 'create-sport' %}">Adaugare competitii</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-sports' %}">Competitii</a>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
                    </a>
                </li>

            </ul>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"
                   class='btn btn-primary'>Logout, {{ request.user.first_name }} {{ request.user.last_name }}</a>
            {% else %}
                <a href="{% url 'create-user' %}" class='btn btn-primary'>New account</a>
                <a href="{% url 'login' %}" class='btn btn-light'>Login</a>
            {% endif %}

        </div>
    </div>
</nav>

{% block content %}{% endblock %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
