/* Contact */
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* End contact */


/* Detail action */
.card-link {
    font-weight: bolder;
    text-align: justify;
}

.card-text {
    font-weight: bolder;
    font-size: medium;
    color: red;
}

/* End detail action */


/* Homepage */

.mb-xl-4 {
    font-weight: bold;
    margin-left: 0.85cm;
}

/* Homepage */

.page-footer {
    background-color: #1e90ff;
    color: white;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: white;
    padding: 40px 0;
}

.quote {
    font-weight: bold;
}

.author1 {
    font-weight: normal;
    text-align: right;
}

.author2 {
    text-align: center;
}

.author3 {
    text-align: center;
}

.header1 {
    font-family: "Lucida Sans Unicode";
}

/* End Homepage */

/* ??? */

.background-image {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}

/* End ??? */

/* list actions */
.text-info {
    text-align: right;
}

.full {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


